<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- This xml is XML configration for java spring. -->

    <!-- Owner Bean -->
    <bean name="owner" class="com.example.XMLConfigurationSpringPractice.models.Owner">
        <property name="name" value="DefaultName"/>
        <property name="age" value="0"/>
    </bean>

    <!-- Animal Bean -->
    <bean name="animal" class="com.example.XMLConfigurationSpringPractice.models.Animal">
        <property name="owner" ref="owner"></property>
    </bean>

</beans>